<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/madlibs.css">  
  <title>Game Form</title>
</head>
<body>
    <p>Please fill out the Madlib!<br>
        <form action="/madlib">
            Tell me the name of a person? <input type="text" name="proper_noun"><br>
            A Color? <input type="text" name="color"><br>
            A Noun? <input type="text" name="noun"><br>
            An Adjective <input type="text" name="adjective"><br>
            Pick a city from the drop down menu:<br>
            <select name="location">
                <option value="St_Louis">St. Louis</option>
                <option value="Minneapolis">Minneapolis</option>
                <option value="San_francisco">San Francisco</option>
            </select><br>
            A Verb <input type="text" name="verb"><br>
            An Adverb <input type="text" name="adverb"><br>
            <input type="submit">
        </form>
    </p>
</body>
</html>